@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");


body{
    box-sizing: border-box;
    margin-top:50px;
    padding:0;
}

.container{
    width:100%;
    position: relative;
    margin:auto;
}

.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    font-family: "orbitron";
    font-size: 20px;
    font-style: "bold";
}

.list{
    display: flex;
    list-style-type:none;
}

.list-item{
    margin-left:20px;
}

.button-group{
    display: flex;
    justify-content: space-between;
    margin-top:16px;

}

.search-icon{
    margin-right:10px;
}

.nav-button{
    background-color: #fff;
    border-radius: 10px;
    height:15px;
    padding-top: 5px;
    padding-bottom:20px;
    width: 150%;
    text-align: center;
}

section .hero-container div img{
    float:left;
    margin-right:10%;
    position: absolute;
}

section .hero-container-right{
margin-left:40%;
font-family:"poppins";
font-size:small;
}

.globe{
position: relative;
margin-left:55%;
}

.star{
position: absolute;
margin-top:30px;
margin-left:85%;
}

.hero-heading{
    margin-top:15%;
    margin-left:100px;
    font-family: "orbitron";
    font-size: 30px;
    text-align: center;
}

.hero-description{
    margin-left:170px;
    padding-bottom: 30px;
    text-align-last: center;
 } 

.square{
    position: absolute;
    margin-top: 33%;
    margin-left: 16%;
}

.button-email{
    margin-left:300px;
    font-family: "orbitron";
    text-align: center;
    border-radius: 5px;
    padding-right:15px;
    padding-left:15px;

}

.button-join{
    font-family: "orbitron";
    background-color: black;
    color:#fff;
    margin-left:20px;
    border-radius: 5px;
}

.contact-heading{
    padding-top:30px;
    text-align: center;
    margin-left:20%;
    font-size:20px;
    color:grey;

}

div .icons{
    padding-top:2px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-left:20%;
}

.icons span{
margin-right:55px;
}
